.lessons-list {
  list-style-type: none;
  padding: 0;
}

.lessons-list > li {
  margin-bottom: 2.25rem;
}

/* Give nested list the appearance of top-level */
.objectives-list {
  list-style-type: disc;
}
